@model BonusetEditViewModel
@{
    ViewData["Title"] = "Modifikimi i bonuseve për punëtorët";
}


<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">Modifikimi i bonuseve për punëtorët</h3>
    </div>
    <div class="card-body">
        <!--begin::Form-->
        <form class="form" method="post">

            <input asp-for="Id" hidden />
            <div class="form-group row">
                <div class="col-md-12">
                    <label>Zgjedh punetorin: </label>
                    <select asp-for="PunetoriId" asp-items="ViewBag.Punetori" class="form-control init-select2">
                        <option value="">Zgjedh punetorin</option>
                    </select>
                    <span asp-validation-for="PunetoriId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Viti:</label>
                    <select asp-for="Viti" asp-items="ViewBag.Viti" class="form-control init-select2">
                    </select>
                    <span class="form-text text-muted">Viti për bonus</span>
                </div>
                <div class="col-lg-6">
                    <label>Muaji:</label>
                    <select asp-for="Muaji" asp-items="ViewBag.Muaji" class="form-control init-select2">
                    </select>
                    <span class="form-text text-muted">Zgjedhni muajin per bonus</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Përshkrimi:</label>
                    <textarea asp-for="Pershkrimi" class="form-control" rows="3"></textarea>
                    <span class="form-text text-muted">Shënoni një përshkrim rreth bonusit</span>
                    <span asp-validation-for="Pershkrimi" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Vlera: </label>
                    <input type="number" step="any" asp-for="Vlera" class="form-control" />
                    <span class="form-text text-muted">Shënoni vleren</span>
                    <span asp-validation-for="Vlera" class="text-danger"></span>
                </div>

                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <label>Bruto: </label>
                        <input type="checkbox" asp-for="Bruto" class="form-control" />
                        <span class="form-text text-muted">Zgjedhni a dëshironi që bonusi të jetë bruto</span>
                        <span asp-validation-for="Bruto" class="text-danger"></span>
                    </div>

                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary mr-2">Ekzekuto</button>
                        <button type="reset" class="btn btn-secondary">Anulo</button>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}