@{ 
    Layout = null;
}

<div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30" style="background-image: url(/Content/assets/media/error/bg1.jpg);">
    <!--begin::Content-->
    <p class="font-size-h3 text-muted font-weight-normal">@ViewBag.ErrorTitle</p>
    <!--end::Content-->
</div>